<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Bootstrap Admin Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">
        <div id="page-wrapper" style="margin-left: 0px;">
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="page-header">申请人信息</h4>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <form  th:action="@{/apply}"  th:object="${apply_entity}" method="post">
                <div class="row">
                    <div class="col-lg-2">
                        <label>个人企业标志：</label>
                    </div>
                    <div class="col-lg-2">
                        <select class="form-control" th:field="*{individualCompanyFlag}" name="individualCompanyFlag" th:selected="*{individualCompanyFlag}" required>
                            <option value="企业">企业</option>
                            <option value="个人">个人</option>
                        </select>
                    </div>
                    <div class="checkbox col-lg-2">
                        <label>
                            <input type="checkbox" th:checked="*{foreign}" name="foreign">国外
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="col-lg-4">
                            <label>分/支行：</label>
                        </div>
                        <div class="col-lg-8">
                            <select class="form-control" th:field="*{branch}" disabled name="branch">
                                <option value="上海汇茂融资租赁有限公司">上海汇茂融资租赁有限公司</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="col-lg-4">
                            <label>客户号：</label>
                        </div>
                        <div class="col-lg-8">
                            <input class="form-control" disabled th:field="*{customerCode}" name="customerCode">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="col-lg-4">
                            <label>客户经理：</label>
                        </div>
                        <div class="col-lg-6">
                            <input class="form-control" placeholder="代码名称" name="customerManager" th:field="*{customerManager}" required>
                        </div>
                        <div class="col-lg-2">
                            <button type="button" class="btn btn-default">查询</button>
                        </div>
                    </div>
                </div>
                <br>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">注册登记信息</a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="col-lg-4">
                                            <label>登记注册类型：</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <select class="form-control"  th:field="*{registerType}" name="registerType" required>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="col-lg-4">
                                            <label>注册登记号：</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <input class="form-control" th:field="*{registerCode}" name="registerCode" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="col-lg-4">
                                            <label>注册登记日期：</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <input class="form-control"  th:field="*{registerDate}" name="registerDate" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="col-lg-4">
                                            <label>营业执照到期日：</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <input class="form-control" th:field="*{bussinessLicenseExpireDate}" name="bussinessLicenseExpireDate" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">贷款卡信息</a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="col-lg-4">
                                            <label>贷款卡编码(中征码)：</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <input class="form-control" th:field="*{loanCardCode}" name="loanCardCode" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="col-lg-4">
                                            <label>请重复输入 贷款卡编码(中征码)：</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <input class="form-control" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="col-lg-4">
                                            <label>贷款卡状态：</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <select class="form-control" th:field="*{loanCardState}" name="loanCardState" required>
                                                <option value="-">-</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="col-lg-4">
                                            <label>贷款卡密码：</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <input class="form-control" th:field="*{loanCardPassword}" name="loanCardPassword" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">基本情况</a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="col-lg-4">
                                            <label>借款人国别：</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <select class="form-control" th:field="*{borrowerCountry}" name="borrowerCountry" required>
                                                <option value=""></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="col-lg-4">
                                            <label>中文名称：</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <input class="form-control" th:field="*{chineseName}" name="chineseName" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="col-lg-4">
                                            <label>英文名称：</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <input class="form-control" th:field="*{englishName}" name="englishName" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="col-lg-4">
                                            <label>开户许可证核准号：</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <input class="form-control" th:field="*{accountOpeningLicenseApprovalNumber}" name="accountOpeningLicenseApprovalNumber">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="col-lg-4">
                                            <label>客户类型：</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <select class="form-control" th:field="*{customerType}" name="customerType" required>
                                                <option value=""></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="col-lg-4">
                                            <label>组织机构代码证：</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <input class="form-control" th:field="*{organizationCodeCertificate}" name="organizationCodeCertificate" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="col-lg-4">
                                            <label>借款人性质：</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <select class="form-control" th:field="*{borrowerProperty}" name="borrowerProperty" required>
                                                <option value=""></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="col-lg-4">
                                            <label>机构信用代码：</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <input class="form-control" th:field="*{agencyCreditCode}" name="agencyCreditCode" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="col-lg-4">
                                            <label>组织机构类别细分：</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <select class="form-control" th:field="*{organizationTypeSubdivision}" name="organizationTypeSubdivision" required>
                                                <option value=""></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="col-lg-4">
                                            <label>成立年份：</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <input class="form-control" th:field="*{establishmentYear}" name="establishmentYear" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="col-lg-4">
                                            <label>法定代表人：</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <input class="form-control" th:field="*{legalRepresentative}" name="legalRepresentative" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="col-lg-4">
                                            <label>经营范围：</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <input class="form-control" th:field="*{businessScope}" name="businessScope" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="col-lg-4">
                                            <label>主要产品情况：</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <input class="form-control" th:field="*{majorProductSituation}" name="majorProductSituation">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="col-lg-4">
                                            <label>国税登记号：</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <input class="form-control" th:field="*{nationalTaxRegistrationNumber}" name="nationalTaxRegistrationNumber" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="col-lg-4">
                                            <label>地税登记号：</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <input class="form-control" th:field="*{regionalTaxRegistrationNumber}" name="regionalTaxRegistrationNumber" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="col-lg-4">
                                            <label>行政区域：</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <select class="form-control" th:field="*{administrativeRegion}" name="administrativeRegion" required>
                                                <option value=""></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="col-lg-4">
                                            <label>借款人特征：</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <select class="form-control" th:field="*{borrowerCharacteristics}" name="borrowerCharacteristics" required>
                                                <option value=""></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-2">
                                        <label>单位所属行业：</label>
                                    </div>
                                    <div class="col-lg-1">
                                        <label>门类：</label>
                                    </div>
                                    <div class="col-lg-2">
                                        <select class="form-control" th:field="*{industrialClass}" name="industrialClass" required>
                                            <option value=""></option>
                                        </select>
                                    </div>
                                    <div class="col-lg-1">
                                        <label>大类：</label>
                                    </div>
                                    <div class="col-lg-2">
                                        <select class="form-control" th:field="*{industrialPrimaryCategory}" name="industrialPrimaryCategory" required>
                                            <option value=""></option>
                                        </select>
                                    </div>
                                    <div class="col-lg-1">
                                        <label>中类：</label>
                                    </div>
                                    <div class="col-lg-3">
                                        <select class="form-control" th:field="*{industrialSecondaryCategory}" name="registeredCapitalAmount" required>
                                            <option value=""></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="col-lg-4">
                                            <label>注册资金(万元)：</label>
                                        </div>
                                        <div class="col-lg-4">
                                            <select class="form-control" th:field="*{registeredCapitalCurrency}" name="paidinCapitalCurrency" required>
                                                <option value=""></option>
                                            </select>
                                        </div>
                                        <div class="col-lg-4">
                                            <input class="form-control" th:field="*{registeredCapitalAmount}" name="paidinCapitalAmount" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="col-lg-4">
                                            <label>实收资本(万元)：</label>
                                        </div>
                                        <div class="col-lg-4">
                                            <select class="form-control" th:field="*{paidinCapitalCurrency}" name="employeeNumber" required>
                                                <option value=""></option>
                                            </select>
                                        </div>
                                        <div class="col-lg-4">
                                            <input class="form-control" th:field="*{paidinCapitalAmount}" name="registerCode" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="col-lg-4">
                                            <label>从业人数：</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <input class="form-control" th:field="*{employeeNumber}" name="registerCode" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="col-lg-4">
                                            <label>经营地面积：</label>
                                        </div>
                                        <div class="col-lg-6">
                                            <input class="form-control" th:field="*{operatingArea}" name="registerCode">
                                        </div>
                                        <div class="col-lg-2">
                                            <label>平方米</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="col-lg-4">
                                            <label>经营地所有权：</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <select class="form-control" th:field="*{operatingAreaOwnership}" name="registerCode">
                                                <option value=""></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="col-lg-4">
                                            <label>进出口权标志：</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <select class="form-control" th:field="*{importExportFlag}" name="registerCode" required>
                                                <option value=""></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="col-lg-4">
                                            <label>上市公司标志：</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <select class="form-control" th:field="*{listedCompanyFlag}" name="registerCode" required>
                                                <option value=""></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="col-lg-4">
                                            <label>股票代码：</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <input class="form-control" th:field="*{stockCode}" name="registerCode">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="col-lg-4">
                                            <label>上市地：</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <select class="form-control" th:field="*{listingLocation}" name="registerCode">
                                                <option value=""></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="col-lg-4">
                                            <label>集团客户标志：</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <select class="form-control" th:field="*{groupCustomerFlag}" name="registerCode" required>
                                                <option value=""></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="col-lg-4">
                                            <label>上级公司名称：</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <input class="form-control" th:field="*{superiorCompanyName}" name="registerCode">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="col-lg-4">
                                            <label>上级公司机构信用代码：</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <input class="form-control" th:field="*{superiorCompanyAgencyCreditCode}" name="registerCode">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="col-lg-4">
                                            <label>上级公司贷款卡编码：</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <input class="form-control" th:field="*{superiorCompanyLoanCardCode}" name="registerCode">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="col-lg-4">
                                            <label>上级公司组织机构代码：</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <input class="form-control" th:field="*{superiorCompanyOrganizationCode}" name="registerCode">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="col-lg-4">
                                            <label>上级公司登记注册号类型：</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <select class="form-control" th:field="*{superiorCompanyRegisterCodeType}" name="registerCode">
                                                <option value=""></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="col-lg-4">
                                            <label>上级公司登记注册号码：</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <input class="form-control" th:field="*{superiorCompanyRegisterCode}" name="registerCode">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">其他信息</a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="col-lg-4">
                                            <label>机构状态：</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <select class="form-control"th:field="*{organizationState}" name="organizationState" required>
                                                <option value=""></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="col-lg-4">
                                            <label>风险等级：</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <select class="form-control" th:field="*{riskRanking}" name="riskRanking" required>
                                                <option value=""></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="col-lg-4">
                                            <label>财务部联系方式：</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <input class="form-control" th:field="*{financeDepartmentContactInformation}" name="financeDepartmentContactInformation" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="col-lg-4">
                                            <label>我行股东：</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <select class="form-control" th:field="*{ourShareholders}" name="ourShareholders" required>
                                                <option value="false">否</option>
                                                <option value="true">是</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="col-lg-4">
                                            <label>股权证书：</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <input class="form-control" th:field="*{equityCardNumber}" name="equityCardNumber">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="col-lg-4">
                                            <label>投资日期：</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <input class="form-control" type="date" th:field="*{investmentDate}" name="investmentDate">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="col-lg-4">
                                            <label>投资金额(万元)：</label>
                                        </div>
                                        <div class="col-lg-2">
                                            <select class="form-control" th:field="*{investmentCurrency}" name="investmentCurrency">
                                                <option value=""></option>
                                            </select>
                                        </div>
                                        <div class="col-lg-6">
                                            <input class="form-control" th:field="*{investmentAmount}" name="investmentAmount">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="col-lg-4">
                                            <label>投资比例(%)：</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <input class="form-control" th:field="*{investmentRatio}" name="investmentRatio">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="col-lg-4">
                                            <label>投资方式：</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <input class="form-control" th:field="*{investmentWay}" name="investmentWay">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="col-lg-3">
                                            <label>备注</label>
                                        </div>
                                        <div class="col-lg-9">
                                            <textarea class="form-control" rows="3" th:field="*{remarks}" name="remarks"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                注册地址
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <label>国家/地区：</label>
                                    </div>
                                    <div class="col-lg-8">
                                        <select class="form-control" th:field="*{registerNationality}" name="registerNationality" required>
                                                <option value=""></option>
                                            </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <label>省/市：</label>
                                    </div>
                                    <div class="col-lg-4">
                                        <select class="form-control" th:field="*{registerProvince}" name="registerProvince" required>
                                                <option value=""></option>
                                            </select>
                                    </div>
                                    <div class="col-lg-4">
                                        <button type="button" class="btn btn-default">Default</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <label>地址：</label>
                                    </div>
                                    <div class="col-lg-8">
                                        <input class="form-control" th:field="*{registerAddress}" name="registerAddress" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                通讯地址
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <label>国家/地区：</label>
                                    </div>
                                    <div class="col-lg-8">
                                        <select class="form-control" th:field="*{contactNationality}" name="contactNationality" required>
                                                <option value=""></option>
                                            </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <label>省/市：</label>
                                    </div>
                                    <div class="col-lg-4">
                                        <select class="form-control" th:field="*{contactProvince}" name="contactProvince" required>
                                            <option value=""></option>
                                        </select>
                                    </div>
                                    <div class="col-lg-4">
                                        <button type="button" class="btn btn-default">Default</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <label>地址：</label>
                                    </div>
                                    <div class="col-lg-8">
                                        <input class="form-control" th:field="*{contactAddress}" name="contactAddress" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <label>邮编：</label>
                                    </div>
                                    <div class="col-lg-4">
                                        <input class="form-control" th:field="*{mailcode}" name="mailcode" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                联系信息
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <label>借款人联系电话：</label>
                                    </div>
                                    <div class="col-lg-8">
                                        <input class="form-control" th:field="*{borrowerPhone}" name="borrowerPhone" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <label>传真号码：</label>
                                    </div>
                                    <div class="col-lg-8">
                                        <input class="form-control" th:field="*{fax}" name="fax">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <label>电子邮件：</label>
                                    </div>
                                    <div class="col-lg-8">
                                        <input class="form-control" th:field="*{email}" name="email">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <label>网址：</label>
                                    </div>
                                    <div class="col-lg-4">
                                        <input class="form-control" th:field="*{website}" name="website">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4" align="center">
                        <button type="reset" class="btn btn-primary">重  填</button>
                        <button type="submit" class="btn btn-primary">保  存</button>
                    </div>
                    <div class="col-lg-4"></div>
                </div>


             </form>
                                        

        </div>
        <!-- /#page-wrapper -->

    </div>

    <!-- jQuery -->
    <script src="/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/dist/js/sb-admin-2.js"></script>

</body>

</html>
